


@import url('https://fonts.googleapis.com/css2?family=Kablammo:MORF@36&display=swap');

.londrina-sketch-regular {
    font-family: "Kablammo", system-ui;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    font-variation-settings:
      "MORF" 36;
      font-size: x-large;
  }
  
  h1{
    font-family: "Kablammo", system-ui;
    font-size: 200px;
    color:green;
    font-size: x-large;
  }